.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: $nav;
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;

    img{
        width: 100px;
        height: 100px;
        border-radius:50%;
    }

    ul{
        display: flex;
        flex-direction: row;
    }
}